@model Library.Models.Catalog.AssetIndexModel


<div id="assets">
    <h3 class="text-center text-muted">Library Catalog</h3>
    <div id="assetsTable">
        <table class="table table-condensed" id="catalogIndexTable">
            <thead>
                <tr>
                    <th class="text-muted">Image</th>
                    <th class="text-muted">Title</th>
                    <th class="text-muted">Author/Director</th>
                    <th class="text-muted">Dewey Call Number</th>
                </tr>
            </thead> 
            <tbody>
                @foreach (var asset in Model.Assets)
                {
                <tr class="assetRow">
                    <td class="">
                        <a asp-controller="Catalog" asp-action="Detail" asp-route-id="@asset.Id">
                            <img src="@asset.ImageUrl" class="imageCell" width="150px"/>
                        </a>
                    </td>
                    <td class="text-muted">@asset.Title</td>
                    <td class="text-muted">@asset.AuthorOrDirector</td>
                    <td class="text-muted">@asset.DeweyCallNumber</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
